.product-container {
    background: #fff;
    width: 70%;
    margin: 40px auto;
    padding: 24px;
    border-radius: 5px;

    &__main {
        display: flex;
        justify-content: space-between;

        &--details {
            display: flex;
            flex-direction: column;
            width: 40%;

            &-condition {
                margin: 0 0 10px;
            }
        }
    }

}