@import '../../style/style.scss';

.product-container {
    @include main-container;
    
    margin: 40px auto;

    &__main {
        display: flex;
        justify-content: space-between;

        &--details {
            display: flex;
            flex-direction: column;
            width: 40%;

            &-condition {
                margin: 0 0 10px;
            }
        }
    }

}