@import '../../style/style.scss';

.search-card {
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: 768px) {
            flex-direction: row;
            align-items: flex-start;
        }

        &:hover {
            cursor: pointer;
        }
        
        &:not(:last-child) {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid $bg_color;
        }
    }

    &__image {
        width: 120px;
        height: auto;
        margin-right: 12px;
        margin-bottom: 20px;

        @media only screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }

    &__content {
        width: 70%;
        text-align: center;

        @media only screen and (min-width: 768px) {
            text-align: inherit;
        }

        &--price {
            font-size: 18px;
            margin: 10px 0;
            display: flex;
            gap: 10px;
            justify-content: center;

            @media only screen and (min-width: 768px) {
                justify-content: inherit;
            }

            span {
                background: $highlight_color;
                padding: 0 6px;
                display: flex;
                border-radius: 50%;

                svg {
                    color: $bg_color;
                    width: 14px;
                }
            }
        }

        &--title {
            margin: 10px 0;
        }
    }
}