@import '../../../style/style.scss';

.product-container__description {
    margin-top: 15%;
    width: 70%;

    P {
        color: $text-c1;

        &:first-child {
            font-size: 24px;
            font-weight: 500;
            color: $black;
        }
    }
}