.product-container__description {
    margin-top: 15%;
    width: 70%;

    P {

        color: #939393;

        &:first-child {
            font-size: 24px;
            font-weight: 500;
            color: #000;
        }
    }
}