@import '../../style/style.scss';

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    width: 300px;
    height: 20px;
    border: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 6px;

    @media only screen and (min-width: 280px) and (max-width: 320px) {
        width: 210px;
    }

    @media only screen and (min-width: 321px) and (max-width: 350px) {
        width: 260px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        width: 445px;
    }

    @media only screen and (min-width: 1024px) {
        width: 768px;
    }

    &__button {
        border: none;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 32px;
        display: flex;
        align-items: center;

        transition: .2s ease-in-out;

        &:hover {
            cursor: pointer;
            background: $button_c1;
        }
    }
}