.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    width: 768px;
    height: 20px;
    border: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 6px;

    &__button {
        border: none;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 32px;
        display: flex;
        align-items: center;

        transition: .2s ease-in-out;

        &:hover {
            cursor: pointer;
            background: #b4b4b4;
        }
    }
}