@import '../../../style/style.scss';

.product-title {
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 18px;

    @media only screen and (min-width: 768px) {
        margin: 0 0 20px;
        font-size: 24px;
    }
}