@import '../../../style/style.scss';

.product-buyButton {
    margin-top: 40px;
    background: $button_main;
    color: $white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 12px 0;

    transition: .2s ease-in-out;

    &:hover {
        background: $button_secondary;
        cursor: pointer;
    }
}