@import '../../../style/style.scss';

.product-buyButton {
    margin-top: 20px;
    background: $button_main;
    color: $white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 12px 0;

    transition: .2s ease-in-out;

    @media only screen and (min-width: 768px) {
        margin-top: 40px;
        font-size: 20px;
    }

    &:hover {
        background: $button_secondary;
        cursor: pointer;
    }
}